{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Player Stats{% endblock %}

{% block content %}
<main>
    {% if players %}
        {% for player in players %}
            <section class="player-card">
                <h2>{{ player.player_name }}</h2>
                <p>Last updated: {{ player.timestamp }}</p>

                <div class="skill-grid">
                    {% for skill_name, skill_data in player.skills.items %}
                        {% if skill_name != 'overall'%}
                            <a href="{% url 'skill_history' skill_name=skill_name %}?player={{ player.player_name }}">
                                <div class="skill-item" data-xp="{{ skill_data.xp|humanize_number }}">
                                    <img class="skill-icon" src="{% static 'images/'|add:skill_name|add:'.png' %}" alt="{{ skill_name }}">
                                    <span class="skill-level">{{ skill_data.level }}</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}

                    <a href="{% url 'skill_history' skill_name='overall' %}?player={{ player.player_name }}">
                        <div class="overall-stats">
                            <div class="overall-stats-text" data-xp="{{ player.skills.overall.xp|humanize_number }}">
                                <span class="overall-label">Total level:</span>
                                <span class="overall-value">{{ player.skills.overall.level }}</span>
                            </div>
                        </div>
                    </a>
                </div>

                <details class="collapsible-boss-stats" open>
                    <summary class="boss-grid-header">Bosses</summary>
                    <div class="boss-grid">
                        {% for boss_name, boss_data in player.bosses.items %}
                            {% if boss_data.killcount > 0 %}
                                <div class="boss-item">
                                    <span class="boss-name">{{ boss_name|title }}</span>
                                    <span class="boss-killcount">{{ boss_data.killcount }}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </details>
                
                <!-- XP gained today -->
                <details class="xp-gained-today" style="margin-top: 1em;">
                    <summary>
                        <strong>XP gained today:</strong>
                        {{ player.xp_gained_today|default:0|humanize_number }}
                    </summary>
                    <div style="margin-top: 0.5em;">
                        <table>
                            <thead>
                                <tr>
                                    <th style="text-align:left;">Skill</th>
                                    <th style="text-align:right;">XP Gained</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for skill, xp in player.skill_xp_gained_today.items %}
                                    {% if skill != 'overall' and xp != 0 %}
                                    <tr>
                                        <td>{{ skill|title }}</td>
                                        <td style="text-align:right;">{{ xp|humanize_number }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </details>

            </section>
        {% endfor %}
    {% else %}
        <p>No player data could be retrieved. Please check your internet connection or if players have been added to the database.</p>
    {% endif %}
</main>
{% endblock %}